.block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  /* gap: 12px; */
  /* align-items: center; */
  /* justify-content: flex-start; */
}

.cell {
  display: flex;
  align-items: center;
  gap: 12px;
}